*.aux
*.log
*.gz
*.out
*.vscode
*.pyc
*.toc
PMLBE/Codes/data/train.csv
.ipynb_checkpoints
MLPS/Codes/Ch08/aclImdb
MLPS/Codes/Ch08/movie_data.csv
.Rproj.user
*.Rproj
*.Rhistory
*.Rdata
MLPS/Codes/Ch12/MNIST/raw/t10k-images-idx3-ubyte
MLPS/Codes/Ch12/MNIST/raw/t10k-labels-idx1-ubyte
MLPS/Codes/Ch12/MNIST/raw/train-labels-idx1-ubyte
MLPS/Codes/Ch12/MNIST/raw/train-images-idx3-ubyte
MLPS/Codes/Ch12/celeba
*.pt
